:root {
  --blue-green: #2596beff;
  --mahogany: #bc4c09ff;
  --african-violet: #b07bacff;
  --baby-powder: #fcfff7ff;
  --light-cyan: #dffdffff;
}

* {
  box-sizing: border-box;
  border: 1px solid red;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

html,
body {
  margin: 0%;
  padding: 0%;
}

#viewport {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: pink; */
}

#gameboard {
  background-color: black;
  display: grid;
  height: 55vh;
  aspect-ratio: 1 / 1;
  max-width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#gameboard div {
  background-color: white;
}

#gameboard div:hover {
  background-color: var(--baby-powder);
}

#gameboard div img {
  height: 100%;
  max-width: 100%;
}

.grid-item {
  cursor: pointer;
}

.active {
  border: 10px solid var(--african-violet);
  border-radius: 5px;
}

@media (max-width: 770px) {
  #viewport {
    flex-direction: column;
  }
  h2 {
    margin: 0.4em 0;
  }
}
