:root {
  --blue-green: #2596beff;
  --mahogany: #bc4c09ff;
  --african-violet: #b07bacff;
  --baby-powder: #fcfff7ff;
  --light-cyan: #dffdffff;
}

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  font-family: "Permanent Marker", cursive;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: #fcfcfd;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  height: 36px;
  padding: 0 32px;
  font-size: 18px;
  border-radius: 6px;
  color: #36395a;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
}

button:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  transform: translateY(-2px);
}
button:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
}

html,
body {
  margin: 0%;
  padding: 0%;
}

#viewport {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#gameboard {
  background-color: black;
  display: grid;
  height: 55vh;
  aspect-ratio: 1 / 1;
  max-width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 10px;
}

#gameboard div {
  background-color: white;
}

#gameboard div:hover {
  background-color: #f6dcff;
}

#gameboard div img {
  height: 100%;
  max-width: 100%;
}

.grid-item {
  cursor: pointer;
}

.active {
  border: 5px solid var(--african-violet);
  border-radius: 5px;
}

#player-one,
#player-two {
  font-family: "Shadows Into Light", cursive;
  padding: 5px;
}

#player-one p,
#player-two p {
  margin: 5px 0;
  font-family: "Permanent Marker", cursive;
}

input[type="text"] {
  margin: 5px 0;
  font-family: "Shadows Into Light", cursive;
  border-radius: 4px;
}

#p1-name {
  border: 2px solid var(--blue-green);
}

#p2-name {
  border: 2px solid var(--mahogany);
}

@media (max-width: 770px) {
  #viewport {
    flex-direction: column;
  }
  h2 {
    margin: 0.4em 0;
  }

  .player-icon,
  .win-loss {
    flex-direction: row;
  }

  #p2wins,
  #p1wins {
    margin-right: 20px;
  }
}
